[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/servedsmart/blowfish.git
	branch = main
[submodule "themes/osm"]
	path = themes/osm
	url = https://github.com/servedsmart/hugo-component-osm.git
	branch = master
